[server]

[mysqld]

user=mysql
port=3306
datadir=/var/lib/mysql
socket=/run/mysql/mysql.sock
pid-file=/run/mysql/mysql.pid
skip-networking=false
bind-address=0.0.0.0

expire_logs_days=10
character-set-server=utf8
collation-server=utf8_general_ci

[embedded]

[mariadb]

[mariadb-10.1]